/* general css */
div {
    display:block;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 0;
}


/*css for navbar 
------------------------------------------------ */

.navbar-default .navbar-nav>.active>a, .navbar-default 
.navbar-nav>.open>a{
    color: #778899!important;
}

.navbar a, #magGlass {
    color: white!important;
}

.navbar .navbar-header {
  margin: 0!important;
  width: 100%;
  text-align: center;
}

.navbar .navbar-header .navbar-brand {
  display: inline-block;
  margin-left: 15px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ddd;
}

.navbar-default .navbar-toggle.collapsed {
  margin-left: 0px;
  background-color: #778899!important;
}

.navbar-default .navbar-collapse ul {
  display: inline-block;
  padding-left: 0px;
}

.navbar-default .navbar-collapse ul > li {
  list-style-type: none;
  padding: 4px;
  width: 100%;
}

.navbar-default .navbar-collapse .form-group {
  width: 300px;
  display: inline-block;
  margin-right: 8px;
}

#favorites-star {
  margin-right: 8px;
  margin-top: 8px;
}

.icon-bar {
    background-color: white!important;
}

.navbar {
  margin-bottom: 0px!important;
}

/*blue theme color */
.navbar-default {
  background-color: #778899;
}

/*CSS for page header*/
#header-container {
  float: left;
}

#header-container h1 {
  color: #778899;
}

/*css for tags */

#tagContainer {
  clear: both;
}

.tags {
  padding-left: 0;
}

.tag {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}


.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 10px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}


.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}

.tags > li {
    display: inline-block;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: relative;
  clear: both;
  bottom: 0;
  margin: 1.875rem auto 0;
  min-width: 320px;
  max-width: 1025px;
  border-top: 1px solid #778899;
  left: 0;
}

.footer-container {
  padding: 1.5625rem 0 2.5rem;
}

.footer-container .footer-item {
  text-align: center;
}

.footer-container .footer-item h4 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-container .footer-item a {
  color: black;
  text-decoration: none;
}

.menu-footer > li > a:hover {
  text-decoration: none;
  color: #778899;
}

.content-asset {
  text-align: center;
}

.menu-footer {
  padding: 0;
}

.menu-footer > li{
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

.menu-footer > li > a {
  display: inline-block;
  padding: .125rem 0;
}

.copyright {
  margin-top: 10%;
}

/*Masonry CSS */
.grid-sizer, .grid-item {
  width:100%;
}

.grid-item { 
  float: left;
}

/*Different device sizes 
@media screen and (max-width: 480px){
	.grid-sizer, .grid-item {
		width: 100%;
	}
}

@media screen and (min-width: 481px) {
	.grid-sizer, .grid-item {
		width: 50%;
	}
}


@media screen and (min-width: 769px) {
	.grid-sizer, .grid-item {
		width: 25%;
	}
}
*/

@media only screen and (min-width: 768px) { /*tablet*/


    .grid-sizer, .grid-item {
      width: 50%;
    }
    
    .footer-container {
      padding: 1.5625rem 0 2.5rem;
      text-align: center;
    }
    
    .footer-container .footer-item {
      clear: none;
      display: inline-block;
      padding: .3125rem 0 0;
      margin-bottom: .5625rem;
      width: 32%;
    }
    
    .footer-container .footer-item .menu-footer {
      display: initial;
    }
    
    .footer-container .footer-item .toggle-arrow {
      display: none;
    }
    
    .copyright {
      margin-top: 5%;
    }
}

@media (min-width: 960px) {
}
*/
