/* general css */
div {
    display:block;
}

/*css for navbar 
------------------------------------------------ */

.navbar-default .navbar-nav>.active>a, .navbar-default 
.navbar-nav>.open>a{
    color: #778899!important;
}

.navbar a, #magGlass {
    color: white!important;
}

.navbar-collapse > * {
    padding-top: 20px!important;
}

.icon-bar {
    background-color: white!important;
}

.navbar {
  margin-bottom: 0px!important;
}

/*blue theme color */
.navbar-default {
  background-color: #778899;
}

/*CSS for page header*/
#header-container {
  float: left;
}

#header-container h1 {
  color: #778899;
}

/*css for tags */

#tagContainer {
  clear: both;
}

.tag {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}


.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 10px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}


.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}

.tags > li {
    display: inline-block;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}

.footer {
  position: relative;
  display: block;
  bottom: 0;
  margin: 1.875rem auto 0;
  min-width: 320px;
  max-width: 1025px;
  /* Set the fixed height of the footer here */
  height: 120px;
  clear: both;
  border-top: 1px solid #778899;
}

.footer h4 {
  letter-spacing: 2px;
}

.footer a {
  color: black;
  text-decoration: none;
}

.menu-footer > li > a:hover {
  text-decoration: none;
  color: #778899;
}

.content-asset {
  text-align: center;
}

.menu-footer {
  padding: 0;
}

.menu-footer > li{
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

.menu-footer > li > a {
    display: inline-block;
    padding: .125rem 0;
}

/*Masonry CSS */
.grid-sizer, .grid-item {
  width:100%;
}

.grid-item { 
  float: left;
}

/*Different device sizes 
@media screen and (max-width: 480px){
	.grid-sizer, .grid-item {
		width: 100%;
	}
}

@media screen and (min-width: 481px) {
	.grid-sizer, .grid-item {
		width: 50%;
	}
}
@media screen and (min-width: 769px) {
	.grid-sizer, .grid-item {
		width: 25%;
	}
}


@media (min-width: 600px) {
]

@media (min-width: 960px) {
}
*/
