.navbar {
    height: 80px!important;
}

.navbar-collapse > * {
    padding-top: 20px!important;
}

 a.navbar-brand {
    padding-top: 35px;
 }

.grid-item {
    height: 20%;
    width: 20%
}

@media screen and (min-width: 980px) /* Desktop */ {
    
}
@media screen and (max-width: 979px) /*tablet*/ {
    
}
@media screen and (max-width: 500px) /* mobile*/  {
   
}
@media screen and (max-width: 320px) {
   
}


