/* blue theme color: #778899 */
/* general css */
div {
  display:block;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 0;
}

.page-header {
  color: #778899;
}

/*About Us page CSS*/
.about-us-text {
  padding: 0 8%;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 25px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px
}


/*---------------------------------------------- */

/*css for navbar 
------------------------------------------------ */

.navbar-brand {
    position: relative;
    z-index: 100;
}

/* center navbar */
.navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  text-align: center;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
  margin-left: -80px!important;
}

/*end center navbar */

.navbar-default .navbar-nav>.active>a, .navbar-default 
.navbar-nav>.open>a{
  color: #778899!important;
}

#search-bar .form-group {
  display: inline-block;
  padding-left: 10px;
}

#search-bar .form-control {
  width: 280px!important;
}

.navbar a, #magGlass {
  color: white!important;
  padding-left: 5px;
}

.navbar .navbar-header {
  margin: 0!important;
  width: 100%;
  text-align: center;
}

.navbar .navbar-header .navbar-brand {
  display: inline-block;
  margin-left: 15px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ddd;
}

.navbar-default .navbar-toggle.collapsed {
  margin-left: 0px;
  background-color: #778899!important;
}

.navbar-default .navbar-collapse ul {
  display: inline-block;
  padding-left: 0px;
}

.navbar-default .navbar-collapse ul > li {
  list-style-type: none;
  padding: 4px;
  width: 100%;
}

#favorites-star {
  margin-right: 8px;
  margin-top: 8px;
}

.navbar-left {
  margin-bottom: 0;
}

.icon-bar {
  background-color: white!important;
}

.navbar {
  margin-bottom: 0px!important;
}

/*blue theme color */
.navbar-default {
  background-color: #778899;
}

/*CSS for page header*/
#header-container {
  float: left;
}

#header-container h1 {
  color: #778899;
}

/*css for tags */

#tagContainer {
  clear: both;
}

.tags {
  padding-left: 0;
}

.tag {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}


.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 10px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}


.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #778899;
  color: white;
}

.tag:hover::after {
   border-left-color: #778899; 
}

.tags > li {
    display: inline-block;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: relative;
  clear: both;
  bottom: 0;
  margin: 1.875rem auto 0;
  min-width: 320px;
  max-width: 1025px;
  border-top: 1px solid #778899;
  left: 0;
}

.footer-container {
  padding: 1.5625rem 0 1.5625rem;
}

.footer-container .footer-item {
  text-align: center;
}

.footer-container .footer-item h4 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-container .footer-item a {
  color: black;
  text-decoration: none;
}

.menu-footer > li > a:hover {
  text-decoration: none;
  color: #778899;
}

.content-asset {
  text-align: center;
}

.menu-footer {
  padding: 0;
}

.menu-footer > li{
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

.menu-footer > li > a {
  display: inline-block;
  padding: .125rem 0;
}

.copyright {
  margin-top: 5%;
  margin-bottom: 5%;
}

/*Masonry CSS */
.grid-sizer, .grid-item {
  width:100%;
}

.grid-item { 
  float: left;
}

/*Different device sizes 
@media screen and (max-width: 480px){
	.grid-sizer, .grid-item {
		width: 100%;
	}
}

@media screen and (min-width: 481px) {
	.grid-sizer, .grid-item {
		width: 50%;
	}
}


@media screen and (min-width: 769px) {
	.grid-sizer, .grid-item {
		width: 25%;
	}
}
*/

@media only screen and (min-width: 768px) { /*tablet*/


    .grid-sizer, .grid-item {
      width: 50%;
    }
    
    #search-bar {
      padding: 10px 0 10px 0;
    }
    
    #search-bar .form-control {
      width: 400px;
    }
    
    .footer-container {
      padding: 1.5625rem 0 2.5rem;
      text-align: center;
      display: flex;
      justify-content: center;
    }
    
    .footer-container .footer-item {
      clear: none;
      display: inline-block;
      padding: .3125rem 0 0;
      margin-bottom: .5625rem;
      width: 32%;
    }
    
    .footer-container .footer-item .menu-footer {
      display: initial;
    }
    
    .footer-container .footer-item .toggle-arrow {
      display: none;
    }
    
    /* menu collapse in tablet mode */
    .navbar-header {
      float: none; 
    }
    .navbar-left,.navbar-right {
      float: none !important; 
    }
    .navbar-toggle {
      display: block; 
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important; 
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
    }
    
    /*gives the list items border lines*/
    .navbar-form {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
      box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
    }
    /*****************************************/
    
}


@media (min-width: 960px) { /*Desktop*/

    .grid-sizer, .grid-item {
      width: 25%;
    }
    /*get rid of border lines around search bar*/
    .navbar-form {
      border-top: none;
      border-bottom: none;
    }
    
    /*********************/
    
    #search-bar {
      padding: 0;
    }
    
    /*expand navbar */
    .navbar-header {
      float: left!important;
    }
    .navbar-right {
      float: right!important;
    }
    .navbar-left {
      float: left!important;
    }
    .navbar-toggle {
      display: none!important;
    }
    .navbar-collapse.collapse {
      display: block!important;
    }
   /******************************************/
   
   /* Favorites CSS */
   #favorites-text, #favorites-star {
     font-size: 1.2em;
   }
   #favorites-list-item {
     margin-top: 3px;
   }
   /******************************************/
   

}

